<section id="about">
    <div class="container">
        <h2><strong>{{local.data.about.title }}</strong></h2>
        <span class="bar-title mb-5"></span>
        <div class="row">
            <div class="col-lg-4 col-md-12" data-aos="fade-right">
                <picture>
                    <img src="assets/images/profile.jpg" alt="photo de profil" class="img-fluid">
                </picture>
                <div class="d-flex justify-content-center">
                    <a class="btn-social-media" href="https://www.linkedin.com/in/shimels-alem-359149100/" rel="tooltip"
                        target="_blank" title="{{local.data.about.followMeOn }} Linkedin">
                        <i class="fa fa-linkedin fa-lg "></i>
                    </a>
                    <a class="btn-social-media btn-default btn-round btn-lg btn-icon" href="https://github.com/shimels1"
                        rel="tooltip" target="_blank" title="{{local.data.about.followMeOn }} GitHub">
                        <i class="fa fa-github fa-lg "></i></a>
                </div>
            </div>
            <div class="col-lg-8  col-md-12 pt-4 pt-lg-0" data-aos="fade-left">
                <h3>{{local.data.about.jobTitle }}</h3>
                <p class="font-italic">
                    {{local.data.about.introductionOfMe }}
                    <br>{{local.data.about.passionateAboutDevelopment }} <b>Back-End</b> {{local.data.about.and }}
                    <b>Front-End</b>.
                </p>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <ul>
                            <li>
                                <fa-icon [icon]="mapMarker"></fa-icon><strong> {{local.data.about.mobility }}</strong>
                            </li>
                            <li>
                                <fa-icon [icon]="building"></fa-icon><strong> Bahir Dar, Ethiopia</strong>
                            </li>
                            <li>
                                <fa-icon [icon]="email"></fa-icon><strong><a href="mailto:shimelsalem@gmail.com">
                                        shimelsalem@gmail.com</a></strong>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <ul>
                            <li>
                                <fa-icon [icon]="birthday"></fa-icon><strong> 29 {{local.data.about.years }}</strong>
                            </li>
                            <li>
                                <fa-icon [icon]="badge"></fa-icon><strong> {{local.data.about.graduation }}</strong>
                            </li>

                        </ul>
                    </div>
                </div>
                <p>
                    {{local.data.about.researchDescription }}
                </p>
            </div>
        </div>
    </div>
</section>